@import "global.css";

#inbox {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-shadow: 21px 10px 30px -37px rgba(0, 0, 0, .75);
    overflow-y: auto;
}

#chat {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

#profile {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-shadow: -21px 10px 30px -37px rgba(0, 0, 0, .75);
}

.colunm {
    height: 100vh;
}

.colunm .title {
    font-weight: bold;
    font-size: 24pt;
    padding: 20px 30px;
}