@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto", "sans-serif";
}

html, body {
    height: 100%;
}

:root {
    --primary: #36393f;
    --secondary: #2f3136;
    --tertiary: rgb(32, 34, 37);
    --quaternary: #292b2f;
    --quinary: #393d42;
    --senary: #828386;

    --white: #fff;
    --grey: #8a8c90;
    --chat-input: rgb(64, 68, 75);
    --symbol: #74777a;

    --notification: #f84a4b;
    --discord: #6e86d5;
    --mention-detail: #f9aB39;
    --mention-message: #413f3f;

    --link: #5d80d6;
    
    --rocketseat: #6633cc;
}